<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaigagi | PostOffice</title>
    <link rel="stylesheet" href="../public/index.css">
    <script type="module" src="../public/script.js"></script>
</head>
<body onkeypress="Enter(event)">
    <div id="mes-display"></div>
    <!-- <form> -->
        <input type="text" id="input">
        <button onclick="Display()">Send</button>
    <!-- </form> -->
    <script>
        const display = document.getElementById("mes-display");
        const input = document.getElementById("input");
        function Display() {
            const data = input.value;
            let newMes = document.createElement("div");
            newMes.classList.add("mes");
            newMes.innerHTML = data;
            display.appendChild(newMes);
            input.value = "";
        }
        function Enter(event) {
            if (event.key=="Enter") {
                Display();
            }
        }
    </script>
</body>
</html>